body
{
    width: 50%;
    margin: auto;
}

header
{
    height: 25vh;
    background-color: #11445D;
    color: #FFFFFF;
    padding: 30px 20px;
}

header h1{
    font-size: 3em;
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
}

header h2
{
    font-size: 2em;
    font-family: 'Roboto Mono';
}

h3
{
    font-size: 1.3em;
    font-family: 'Roboto Mono';
    font-weight: bold;
}

header p
{
    margin: 20px 0px;
    width: 60%;
}

#content 
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

aside
{
    width: 50%;
    background-color: green;
    vertical-align: top;
}

#right_section
{
    width: 50%;
    background-color: #efefef;
}

#coord
{}